@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Lato:ital,wght@1,700&family=Open+Sans:ital,wght@0,800;1,400&family=Playfair+Display:wght@500&family=Zilla+Slab:ital,wght@1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* common styles */

.primary-button {
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
    border-radius: 8px;
    border: none;
    background-color: #E55473;
    margin-top: 30px;
    margin-left: 250px;
    cursor: pointer;
}

.primary-button:hover {
    background-color: #FFF;
    color: #E55473;
}

.primary-image {
    width: 300px;
    height: 400px;
    padding: 120px 80px 0px 80px;
}

.main-title-description {
    text-align: center;
    padding: 30px;
}

.main-title {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin-top: 200px;
}

.main-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
}

/* style header part */

.header-container {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 850px;
    background: rgba(229, 84, 115, 0.10);
}

.header-title {
    color: #272727;
    font-family: 'Lato';
    font-size: 80px;
    font-weight: 800px;
    margin-top: 200px;
    margin-left: 250px;
}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 20px;
    font-weight: 400px;
    margin-top: 30px;
    margin-left: 250px;
}

.header-image {
    width: 635px;
    height: 800px;
    padding: 50px 250px 0px 100px;
}

/* styles of main body */


.main-box-container {
    display: flex;
    justify-content: space-around;
    gap: 25px;
    margin-top: 50px;

}

.box-one {
    width: 500px;
    height: 520px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    margin-left: 500px;
}

.box-two {
    width: 500px;
    height: 520px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    margin: 0px 25px;

}

.box-three {
    width: 500px;
    height: 520px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    margin-right: 500px;
}

.main-link {
    display: flex;
    justify-content: space-around;
    gap: 25px;
    margin-top: 30px;
}

.link-one {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    margin-left: 200px;
}

.link-two {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
}

.link-three {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    margin-right: 200px;
}

.section-container {
    height: 600px;
    display: flex;
    justify-content: space-around;
    margin: 100px 0px 20px 0px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    align-items: center;
}

.main-title-two {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    margin: 100px 0px 20px 400px;
}

#section {
    color: rgba(255, 0, 0, 0.91);
}

.main-description-two {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    margin: 0px 0px 0px 400px;
}

.section-image {
    width: 400px;
    margin-right: 500px;
}

.section-container .primary-button {
    margin-left: 600px;
}

.primary-button:hover {
    background-color: #FFF;
    color: #E55473;
}

.social-box-one {
    margin-left: 500px;
}

.social-box-four {
    margin-right: 500px;
}

.box-container {
    display: flex;
    align-items: center;
}

.main-section-container {
    width: 1500px;
    height: 450px;
    background-image: url("../flower asset/ractangle4.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 7px;
    margin: 200px 100px 50px 520px;
}

.section-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    padding: 70px 0px 15px 0px;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
}

.email-holder {
    width: 700px;
    height: 60px;
    margin-left: 350px;
    border-radius: 0px;
    border: none;
    font-size: 18px;
}
.box-container .primary-button{
    margin-right: 500px;
}